/* Ipad greeting user name position */
@media (min-width: 768px) {
    .nav {
        margin-left: auto;
        margin-right: 50px;
    }
}

/* Ipad Pro user name position */
@media (min-width: 1024px) {
    .nav {
        margin-left: auto;
        margin-right: 45px;
    }
}

.nav {
    margin-left: auto;
    margin-right: 0px;
};


nav ul li .nav-item {
    color: null;
}

.nav-item {
  border: dotted green 8px;
}
