html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;

  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  /* overflow: auto; */
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #ff8282;
  transition: color 0.2s;
}

/* Remove blue outline when clicked */
.bm-item:focus, .bm-item:active {
  outline: none;
}

.bm-item button {
  width: 100%;
  margin-left: -3px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bm-item button span {
  width: 70%;
  text-align: left;
}

/* Change color on hover */
.bm-item:hover {
  color: #ff8282;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 30px;
  top: 10px;
}

/* Remove blue outline when clicked */
.bm-burger-button button:focus, .bm-burger-button button:active {
  outline: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #f5593d;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(69, 43, 214, 0.7);
}

/* 
.homeBtn, .settingBtn, .billingBtn{

    margin: 5px;
}

.sideBar {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    width: 50%;
} */
