.btn {
    align-content: center;
}

.container-fluid .button-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

.card .card-body .card-title h3{
    font-size: 1.25em;
}

.card-columns {
    column-count: 2 !important;
}

@media (max-width: 768px) {
  .card-columns{
    column-count: 1 !important;
  }
}

@media (max-width: 472px) {
    .container-fluid .button-center {
        height: 79vh;
    }

    .nav .nav-item {
        display: none;
    }
}