.copyBtn {
    align-content: center;
    background-color: #FFFFFF;
    border-color: #66615B;
    color: #4d4141;
}

.trashBtn {
    background-color: #FFFFFF;
     border-color: #f5593d; 
    color: #f5593d;
}

/* Center button when there's no emails */
.container-fluid .button-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

.card .card-body .card-title h3{
    font-size: 1.25em;
}

.card-columns {
    column-count: 2 !important;
}

@media (max-width: 768px) {
  .card-columns{
    column-count: 1 !important;
  }
}

/* For smooth transition on the Create-button */
@media (max-width: 472px) {
    .container-fluid .button-center {
        height: 79vh;
    }
    /* Remove user's name in mobile view */
    .nav .nav-item {
        display: none;
    }
}