
body{

 
}


.Setting{
   
    height: 100vh;
    background-image: url("typing3.jpg");
}

.App {
    
    text-align: left;
    padding: 1em;
    margin: 1em;
    border: 2px solid #f07676;
    border-radius: .5em;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    /* width: 100px; */
    background-color: rgb(242, 234, 247);
    margin-top: 100px;
  }
  
  .form {
    padding: 1em;
    width: 50%;
    color: white;
  }


  
  label {
    display: flex;
    font-weight: 600;
  }
  
  button {
    justify-content: flex-end;
  }